In [148]:
import import_ipynb
import clean_data
import pandas as pd
import modeling_2 as model
import numpy as np

In [149]:
dfs = clean_data.getDataFramesFromFiles('../CollegeScorecard_Raw_Data/')
clean_data.addYearAsLabel(dfs)
clean_data.dropUselessColumn(dfs)
clean_data.convertUnknownsToNans(dfs)
clean_data.dropColsAllNans(dfs)
merged_df = clean_data.intersection_and_merge(dfs)
merged_df = clean_data.convertMixedDataTypes(merged_df)
#merged_df = merged_df.fillna(merged_df.mean())

In [12]:
npt = merged_df.filter(regex='NPT4')
npt = npt.drop(['NPT4_PUB', 'NPT4_PRIV'], axis=1)

In [26]:
npt_priv = npt.filter(like='PRIV')

In [36]:
npt_prog = npt.filter(like='PROG')

In [65]:
npt_pub = npt.filter(like='PUB')

In [81]:
npt_oth = npt.filter(like='OTHER')

In [82]:
npt_pub.columns

Index(['NPT41_PUB', 'NPT42_PUB', 'NPT43_PUB', 'NPT44_PUB', 'NPT45_PUB',
       'NPT4_048_PUB', 'NPT4_3075_PUB', 'NPT4_75UP_PUB'],
      dtype='object')

In [92]:
npt.loc[~npt_priv['NPT41_PRIV'].isna() & ~npt_oth['NPT41_OTHER'].isna()]

Empty DataFrame
Columns: [NPT41_OTHER, NPT41_PRIV, NPT41_PROG, NPT41_PUB, NPT42_OTHER, NPT42_PRIV, NPT42_PROG, NPT42_PUB, NPT43_OTHER, NPT43_PRIV, NPT43_PROG, NPT43_PUB, NPT44_OTHER, NPT44_PRIV, NPT44_PROG, NPT44_PUB, NPT45_OTHER, NPT45_PRIV, NPT45_PROG, NPT45_PUB, NPT4_048_OTHER, NPT4_048_PRIV, NPT4_048_PROG, NPT4_048_PUB, NPT4_3075_OTHER, NPT4_3075_PRIV, NPT4_3075_PROG, NPT4_3075_PUB, NPT4_75UP_OTHER, NPT4_75UP_PRIV, NPT4_75UP_PROG, NPT4_75UP_PUB]
Index: []

[0 rows x 32 columns]

Using the above code, I have demonstrated that each pair of priv and prog columns are mutually exclusive.

This means that we can combine these columns if we have some indication elsehwere that a school is program based or a private institution

This is also true for public and private

It is also true for public and program

Public and OTHER

private and other

In [159]:

def combine_avg_net_price(merged_df):
    brackets = ['NPT41_',
                'NPT42_', 
                'NPT43_', 
                'NPT44_', 
                'NPT45_',
                'NPT4_048_', 
                'NPT4_3075_', 
                'NPT4_75UP_']

    inst = ['PUB', 'PRIV', 'OTHER']
    
    for brack in brackets:
        merged_df[brack] = merged_df[brack +inst[0]].fillna(0) \
            + merged_df[brack+inst[1]].fillna(0) + merged_df[brack+inst[2]].fillna(0)
        merged_df = merged_df.drop(brack+inst[0], axis=1)
        merged_df = merged_df.drop(brack+inst[1], axis=1)
        merged_df = merged_df.drop(brack+inst[2], axis=1)
    
    return merged_df

SyntaxError: invalid syntax (<ipython-input-159-3f01063d21f9>, line 14)

In [150]:
brackets = ['NPT41_',
 'NPT42_', 
 'NPT43_', 
 'NPT44_', 
 'NPT45_',
 'NPT4_048_', 
 'NPT4_3075_', 
 'NPT4_75UP_']

inst = ['PUB', 'PRIV', 'OTHER']

In [151]:
for brack in brackets:
    merged_df[brack] = merged_df[brack +inst[0]].fillna(0) + merged_df[brack+inst[1]].fillna(0) + merged_df[brack+inst[2]].fillna(0)
    merged_df = merged_df.drop(brack+inst[0], axis=1)
    merged_df = merged_df.drop(brack+inst[1], axis=1)
    merged_df = merged_df.drop(brack+inst[2], axis=1)

In [153]:
merged_df.filter(like='NPT')

,NPT41_PROG,NPT42_PROG,NPT43_PROG,NPT44_PROG,NPT45_PROG,NPT4_048_PROG,NPT4_3075_PROG,NPT4_75UP_PROG,NPT4_PRIV,NPT4_PUB,NPT41_,NPT42_,NPT43_,NPT44_,NPT45_,NPT4_048_,NPT4_3075_,NPT4_75UP_
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29708.0,NaN,29511.0,30693.0,29878.0,32256.0,33710.0,29617.0,30448.0,32983.0
93075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30901.0,NaN,30789.0,0.0,34367.0,0.0,0.0,30789.0,34367.0,0.0
93076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15913.0,NaN,14649.0,15248.0,17397.0,18733.0,19510.0,14808.0,15996.0,19089.0
93077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8543.0,7075.0,6718.0,8711.0,11985.0,12976.0,6999.0,8021.0,12419.0
93078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11369.0,10466.0,11432.0,12783.0,13948.0,15682.0,10721.0,12041.0,14382.0
93080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8358.0,7622.0,8186.0,9222.0,12124.0,0.0,7787.0,8744.0,12124.0
93081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22204.0,NaN,22015.0,22866.0,0.0,0.0,0.0,22204.0,22866.0,0.0
93082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6587.0,4594.0,6192.0,7605.0,8465.0,11912.0,5143.0,6865.0,10189.0
93083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4858.0,NaN,4850.0,4903.0,0.0,0.0,0.0,4858.0,4903.0,0.0
93084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22534.0,NaN,21952.0,22275.0,24854.0,27257.0,0.0,22042.0,23234.0,27257.0
93086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10774.0,10774.0,0.0,0.0,0.0,0.0,10774.0,0.0,0.0
93087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14640.0,NaN,14640.0,0.0,0.0,0.0,0.0,14640.0,0.0,0.0
93088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25179.0,NaN,24254.0,24951.0,26423.0,28524.0,27453.0,24419.0,25658.0,28167.0
93089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36494.0,NaN,33211.0,33772.0,37908.0,39640.0,40203.0,33366.0,35702.0,40007.0
93090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20187.0,NaN,18951.0,22545.0,24725.0,24725.0,0.0,19683.0,23227.0,24725.0
93091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6196.0,NaN,6181.0,6294.0,0.0,0.0,0.0,6196.0,6294.0,0.0
93092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10746.0,NaN,10746.0,0.0,0.0,0.0,0.0,10746.0,0.0,0.0
93093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7390.0,NaN,7387.0,6780.0,9050.0,0.0,0.0,7262.0,7399.0,0.0
93094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5935.0,5167.0,6136.0,6809.0,0.0,0.0,5571.0,6473.0,0.0
93095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25721.0,NaN,25225.0,26438.0,27688.0,26867.0,0.0,25467.0,26854.0,26867.0
93096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27062.0,NaN,26914.0,25564.0,0.0,0.0,31679.0,26707.0,25564.0,31679.0
93097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6014.0,NaN,5974.0,7142.0,0.0,0.0,0.0,6014.0,7142.0,0.0
93099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7488.0,NaN,7276.0,8117.0,7125.0,0.0,0.0,7502.0,7993.0,0.0
93100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29848.0,NaN,30505.0,27875.0,0.0,0.0,0.0,29848.0,27875.0,0.0
93101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27339.0,NaN,26820.0,28336.0,29667.0,30821.0,30651.0,26992.0,28851.0,30727.0
93102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5441.0,4514.0,5750.0,7050.0,9442.0,10518.0,4881.0,6169.0,9540.0
93103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20736.0,NaN,19182.0,20590.0,21928.0,23862.0,24670.0,19449.0,21156.0,24142.0

In [8]:
train, test = model.sampling_data(merged_df)

In [8]:
target = 'MD_EARN_WNE_P6'
est = 14
x_train, y_train, x_test, y_test = model.split_data(train, test, target)
x_train = x_train.drop(['STABBR'], axis=1)
x_test = x_test.drop(['STABBR'], axis=1)
x_train = x_train.drop(['INSTNM'], axis=1)
x_test = x_test.drop(['INSTNM'], axis=1)

In [9]:
rf_feature_importance, rf, preds = model.create_random_forest(x_train, y_train, x_test, est)

/Users/williamegan/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:737: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

In [11]:
rf

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=14,
                      n_jobs=None, oob_score=True, random_state=None, verbose=0,
                      warm_start=False)

Proposed engineering:
- make AANAPII (asian and pacific islander flag) and other flags for specific things all into one categorical variable


- I wonder what to do about all the different ACT scores. I think just pick like the midpoint cumulative(ACTCMMID)
    - alternatively, could separate by subject as well, since field of study is something interesting to us 
    - ACTENMID, ACTMTMID, ACTWRMID


- remove ADM_RATE_ALL? superfluous ficen ADM_RATE


-  I kind of want to combine C150_4_POOLED_SUPP, C150_L4_POOLED_SUPP into one feature so that it is more populated. if there is a 4 or two year indicator maybe we can do that (but some schools do both!)


- COSTT4_A and COSTT4_P are only different in the academic year vs program year thing. I wonder if it wo uld behoove us to have a binary variable for one or the other type of program, and then combine this data into one category, or if it is better to just leave them apart


- D150_4_AIANOLD D150_4_HISPOLD, D150_L4_AIANOLD D150_L4_HISPOLD
    - these boys also are divided by 4 and L4. I am starting to think that one feature for a tag of L4 and 4 would be nice, and then all the features that depend on that can be combined, and the flag will take care of the distinction for all of them :)


- There is a bunch of information about dependence and their family income level. I cannot think of a way to combine these, and, in fact, we may not want to since we have already seen that these can be powerful predictive features.



- maybe faminc can be combined? i dont think so and i dont think we want to anyway


- GRADS is share of female grads. maybe rename the variable


- keep debt for various incomes intact

- INC_PCT_H1 and variants is for aided students an d thier family incomes
    - also the independent version of these is IND_INC_PCT_H1
    
    
- for all the NPT features, we have the same income brackets, but different kinds of institutions. (average net price is the information)
    - i suggest getting some tags for what kind of school it is, and then commpress these into 4 columns ajust based on the different income brackets. Should be reductive 
    
    
- OPEFLAG is titel IV eligibility


- PAR_ED_PCT_HS. Percentage of parents that got various kinds of education. cant think of a way to compress these atm, they all are interesting and every school should have a value there


- for these PCIP boys, we can try to bucket them by subject. Not sure if this is good or bad for prediction, but it sure will reduce the number of columns


- preddeg?


- SATMTMID, SATVRMID, SATWRMID. same issue as with act. I am thinking just the midpoints, no percentiles
    - dont forget SAT_AVG vs SAT_AVG_ALL


- UG is all share of undergraduates of certain demographics. key!
    - difference between UG and UGDS is just the 'degree-seeking' component
    -  we may be able to get rid of one or the other type. If we were to keep one it should be UGDS

In [55]:
for i in merged_df.columns:
    print(i)

AANAPII
ACTCM25
ACTCM75
ACTCMMID
ACTEN25
ACTEN75
ACTENMID
ACTMT25
ACTMT75
ACTMTMID
ACTWR25
ACTWR75
ACTWRMID
ADM_RATE
ADM_RATE_ALL
AGEGE24
AGE_ENTRY
ANNHI
AVGFACSAL
C150_4_POOLED_SUPP
C150_L4_POOLED_SUPP
CCBASIC
CCSIZSET
CCUGPROF
CONTROL
COSTT4_A
COSTT4_P
CURROPER
D150_4_AIANOLD
D150_4_HISPOLD
D150_L4_AIANOLD
D150_L4_HISPOLD
DEPENDENT
DEP_INC_AVG
DEP_INC_PCT_H1
DEP_INC_PCT_H2
DEP_INC_PCT_LO
DEP_INC_PCT_M1
DEP_INC_PCT_M2
DEP_STAT_PCT_IND
DISTANCEONLY
D_PCTPELL_PCTFLOAN
FAMINC
FAMINC_IND
FEMALE
FIRST_GEN
GRADS
HBCU
HIGHDEG
HI_INC_DEBT_MDN
HSI
ICLEVEL
INC_PCT_H1
INC_PCT_H2
INC_PCT_LO
INC_PCT_M1
INC_PCT_M2
IND_INC_AVG
IND_INC_PCT_H1
IND_INC_PCT_H2
IND_INC_PCT_LO
IND_INC_PCT_M1
IND_INC_PCT_M2
INEXPFTE
INSTNM
LO_INC_DEBT_MDN
MD_EARN_WNE_P6
MD_FAMINC
MD_INC_DEBT_MDN
MEDIAN_HH_INC
MENONLY
NANTI
NPT41_OTHER
NPT41_PRIV
NPT41_PROG
NPT41_PUB
NPT42_OTHER
NPT42_PRIV
NPT42_PROG
NPT42_PUB
NPT43_OTHER
NPT43_PRIV
NPT43_PROG
NPT43_PUB
NPT44_OTHER
NPT44_PRIV
NPT44_PROG
NPT44_PUB
NPT45_OTHER
NPT45_PRIV
NPT45_PROG
NPT45_PUB
NPT4_048_OTHER
NPT4_048_PRIV
NPT4_048_PROG
NPT4_048_PUB
NPT4_3075_OTHER
NPT4_3075_PRIV
NPT4_3075_PROG
NPT4_3075_PUB
NPT4_75UP_OTHER
NPT4_75UP_PRIV
NPT4_75UP_PROG
NPT4_75UP_PUB
NPT4_PRIV
NPT4_PUB
OPEFLAG
OPENADMP
PAR_ED_PCT_1STGEN
PAR_ED_PCT_HS
PAR_ED_PCT_MS
PAR_ED_PCT_PS
PBI
PCIP01
PCIP03
PCIP04
PCIP05
PCIP09
PCIP10
PCIP11
PCIP12
PCIP13
PCIP14
PCIP15
PCIP16
PCIP19
PCIP22
PCIP23
PCIP24
PCIP25
PCIP26
PCIP27
PCIP29
PCIP30
PCIP31
PCIP38
PCIP39
PCIP40
PCIP41
PCIP42
PCIP43
PCIP44
PCIP45
PCIP46
PCIP47
PCIP48
PCIP49
PCIP50
PCIP51
PCIP52
PCIP54
PCTFLOAN
PCTPELL
PELL_EVER
PFTFAC
PREDDEG
PRGMOFR
RELAFFIL
SATMT25
SATMT75
SATMTMID
SATVR25
SATVR75
SATVRMID
SATWR25
SATWR75
SATWRMID
SAT_AVG
SAT_AVG_ALL
SCHTYPE
SCH_DEG
STABBR
TRIBAL
TUITFTE
TUITIONFEE_IN
TUITIONFEE_OUT
TUITIONFEE_PROG
UG
UG25ABV
UGDS
UGDS_2MOR
UGDS_AIAN
UGDS_AIANOLD
UGDS_API
UGDS_ASIAN
UGDS_BLACK
UGDS_BLACKNH
UGDS_HISP
UGDS_HISPOLD
UGDS_MEN
UGDS_NHPI
UGDS_NRA
UGDS_UNKN
UGDS_WHITE
UGDS_WHITENH
UGDS_WOMEN
UGNONDS
UG_AIANOLD
UG_API
UG_BLACKNH
UG_HISPOLD
UG_NRA
UG_UNKN
UG_WHITENH
UNITID
VETERAN
WOMENONLY
Year